body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* prevent horizontal scroll */
}

.navbar {
  position: fixed; /* stays at top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 30px;
  background-color: #efeeeb;
  border-bottom: 2px solid #6b4226;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-left: 800px; /* push to right */
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.nav-links li a {
  text-decoration: none;
  color: #6b4226;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  color: #c4aa19;
  text-shadow: 1px 1px 2px #FFD700;
}

.login-btn {
  padding: 8px 15px;
  background-color: #ff9f1c;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #ffbf69;
}
